@font-face {
    src: url("../res/MetaVariableDemo-Set.woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url("../res/ink-free.ttf");
    font-family: "Ink Free";
    font-style: normal;
    font-weight: normal;
}

/*

@font-face {
    font-family: 'FlagsOnly';
    src: url('../res/NotoColorEmoji-flagsonly.ttf');
}

.flags-only {
    font-family: 'FlagsOnly', 'Meta', sans-serif;
}

*/