
/*

@font-face {
    font-family: 'FlagsOnly';
    src: url('../res/NotoColorEmoji-flagsonly.ttf');
}

.flags-only {
    font-family: 'FlagsOnly', 'Meta', sans-serif;
}

*/

.emoji {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}