@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2") format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}


.headline {
    transition: all 0.5s;
    -webkit-text-stroke: 0.05vw #181b1b;
    font-variation-settings: "wght" 100, "ital" 0;
    font-size: 5vw;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: none;
    cursor: pointer;
    margin-top: 2vw;
}

.headline:hover {
    font-variation-settings: "wght" 500, "ital" 1;
    text-shadow: 0.25vw 0.25vw 0 #5f5f5f;
    color: white;
}

.headline:after {
    content: ""; /* Add the content for the :after element */
    display: block; /* Or inline, depending on what you need */
    /* Add your desired styles here */
    width: 65%; 
    margin-left: 18.5%;
    height: 0.1vw;
    background-color: #181b1b;
    margin-top: 0px;
    margin-bottom: 2vw;
}

.headline-small {
    transition: all 0.5s;
    -webkit-text-stroke: 0.05vw #181b1b;
    font-variation-settings: "wght" 500, "ital" 0;
    font-size: calc(3vw);
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: none;
    cursor: pointer;
}

.headline-small:hover {
    font-variation-settings: "wght" 500, "ital" 0;
    text-shadow: 0.125vw 0.125vw 0 #5f5f5f;
}

.headline-tiny {
    transition: all 0.5s;
    -webkit-text-stroke: 0.05vw #181b1b;
    font-variation-settings: "wght" 400, "ital" 0;
    font-size: calc(1.5vw);
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: none;
    cursor: pointer;
}

.headline-tiny:hover {
    font-variation-settings: "wght" 400, "ital" 0;
    text-shadow: 0.125vw 0.125vw 0 #5f5f5f;
}


@media (max-width: 1000px) {
    .headline {
        font-size: calc(8vw);
    }
    .headline-small {
        font-size: calc(6vw);
    }
    .headline-tiny {
        font-size: calc(4.5vw);
    }

    .headline:after {
        width: 50%; 
        margin-left: 25%;
    }
}