
/* General submenu styling */
.language-submenu {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1001;
}


/* Submenu for desktop view */
@media (min-width: 1000px) {

    #translate-button {
        font-size: 2vw;
    }

    .language-submenu {
        top: 5vw;
        right: 0;
        width: 13vw;
        border-bottom-left-radius: 1vw;
        border-left: max(0.5px, 0.05vw) solid black;
        border-bottom: max(0.5px, 0.05vw) solid black;
        overflow: hidden;
    }

    .language-submenu li {
        padding: 0;
        text-align: left;
        width: 100%; /* Ensure li elements take full width */
    }

    .language-submenu li a {
        display: block;
        padding: 0.2vw 0.5vw;
        text-align: left; /* Align text to the left */
        width: 100%; /* Ensure links take full width */
        box-sizing: border-box; /* Prevent padding from affecting width */
    }

    .language-submenu-item {
        margin-left: 1vw;
        display: inline-block;
    }


    /* Style the after element separator */
    .language-submenu > *:not(:last-child):after {
        content: "";
        display: block;
        width: 60%;
        margin-left: 15%;
        height: 0.1vw;
        min-height: 0.5px;
        background-color: black;
        margin-top: 0;
    }

}

/* Submenu for mobile view */
@media (max-width: 999px) {


    #translate-button {
        font-size: 7vw;
        margin-top: 2vw;
        margin-bottom: 1vw;
    }
    
    .language-submenu:before {
        content: "";
        display: block;
        width: 66%;
        margin-left: 24%;
        height: 0.1vw;
        min-height: 0.5px;
        background-color: black;
        margin-top: 0;
    }

    .language-submenu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .language-submenu li {
        padding-left: 2vw;
        width: 100%; /* Ensure li elements take full width */
    }

    .language-submenu li a {
        display: block;
        padding: 0;
        text-align: left; /* Align text to the left */
        width: 100%; /* Ensure links take full width */
        box-sizing: border-box; /* Prevent padding from affecting width */
    }

    .language-submenu li:last-child a {
        border-bottom: none;
    }

    .language-submenu-item {
        margin-left: 12vw;
        display: inline-block;
    }

    /* Style the after element separator */
    .language-submenu > *:not(:last-child):after {
        content: "";
        display: block;
        width: 69%;
        margin-left: 20%;
        height: 0.1vw;
        min-height: 0.5px;
        background-color: black;
        margin-top: 0;
    }
}
